{% extends "layout.html" %}

{% block content %}
<section id='login' class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Dashboard Access
            </h1>
            <h2 class="subtitle">
                Login or register
            </h2>
            <div class="columns">
                <div class="column">
                    <p class="control">
                        <input id='user' class="input" type="text" placeholder="Your username">
                    </p>
                    <p class="control">
                        <input id='pass' class="input" type="password" placeholder="Your password">
                    </p>

                    <p class="control has-addons is-pulled-right">
                        <a class="button" id='registerBtn' onclick="page.do('register')">
                            <span>Register</span>
                        </a>
                        <a class="button" id='loginBtn' onclick="page.do('login')">
                            <span>Log in</span>
                        </a>
                    </p>

                </div>
                <div class="column is-hidden-mobile"></div>
                <div class="column is-hidden-mobile"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
	<script type="text/javascript" src="/js/auth.js"></script>
    <style type="text/css">
		section#login {
			background-color: #232629;
		}
	</style>
{% endblock %}