{% extends "layout.html" %}

{% block content %}
<section class="hero is-fullheight has-text-centered" id="home">
    <div class="hero-body">
        <div class="container">
            <p id="b">
                <img class="logo" src="/images/logo_smol.png">
            </p>
            <h1 class="title">knot.network</h1>
            <h2 class="subtitle">A <strong>modern</strong> self-hosted knot tying service</h2>
            <h2 class="subtitle">For access to the service, please email <a href="mailto:yiffmaster@knot.network?Subject=Account Request" target="_top">yiffmaster@knot.network</a> (Zephy#1606 on Discord)</h2>
            <h3 class="subtitle" id="maxFileSize"></h3>
            <div class="columns">
                <div class="column is-hidden-mobile"></div>
                <div class="column" id="uploadContainer">
                    <a id="loginToUpload" href="/auth" class="button is-danger">Running in private mode. Log in to tie.</a>
                    <div class="field" id="albumDiv" style="display: none">
                        <p class="control select-wrapper">
                            <span class="select">
                                <select id="albumSelect">
                                    <option value="">Upload to album</option>
                                </select>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="column is-hidden-mobile"></div>
            </div>

            <div id="uploads">
                <div id="template" class="columns">
                    <div class="column is-hidden-mobile"></div>
                    <div class="column">
                        <progress class="progress is-small is-danger" value="0" max="100" data-dz-uploadprogress></progress>
                        <p data-dz-errormessage></p>
                        <p class="link"></p>
                    </div>
                    <div class="column is-hidden-mobile"></div>
                </div>
            </div>

            <h3 class="subtitle"><a href="/auth" id="loginLinkText"></a></h3>
            <h3 id="links">
                <a href="https://github.com/Zephyrrus/loli-safe" target="_blank" class="is-danger">View on GitHub</a><span>|</span><a id="ShareX" href="https://knot.network/sharex.txt">ShareX</a><span>|</span><a href="https://chrome.google.com/webstore/detail/loli-safe-uploader/enkkmplljfjppcdaancckgilmgoiofnj" target="_blank" class="is-danger">Chrome extension</a><span>|</span><a href="/faq" class="is-danger">FAQ</a><span>|</span><a id="dashboardLink" href="/auth" target="_blank" class="is-danger">Login</a>
            </h3>

        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
    <script type="text/javascript" src="/js/home.js"></script>
{% endblock %}